
<table align = "center", cellspacing="50"><th>
<div class = topbtn><h2><%= link_to "ログイン", login_path %></h2></div></th>
<th><div class = topbtn><h2><%= link_to "初めての方はこちら", new_member_path %></h2></div></th>
</table>